a,
.nav-link {
  color: inherit;
}

.alert {
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.plug {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000008f;
}

.card {
  min-width: 155px;
}

.sr-only {
  display: none;
}
